body
    height: calc(100vh - 15px) 
    display: flex
    margin-bottom: 15px


.main-container
    width: 550px
    height: 420px
    margin: auto
    overflow: auto
    display: flex
    
.product-image
    background:
        image: url("../images/image-product-desktop.jpg") 
        position: center
        size: cover
    height: 100%
    width: 50%

.product-text
    width: 50%
    height: 100%
    padding: 5% 5%

p
    margin-bottom: 10%

.price
    margin-right: 5%

h1
    margin-right: 3%

.attribution
    position: fixed
    height: 15px
    top: calc(100vh - 15px) 
    width: 100%

button
    margin-top: 15%